#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_superpayd += debian/examples/*
DEB_INSTALL_MANPAGES_superpayd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix superpayd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f superpay-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake superpay-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/superpayd:
	chmod +x $(cdbs_curdestdir)usr/bin/superpayd
binary-post-install/superpay-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/superpay-qt
